
/* app/globals.css */
:root {
  --bg: #0b1220;
  --fg: #e6eef8;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
